<div class="container" style="margin-bottom:20px;padding-top:60px;">
	<div class="row">
		<div class="col-sm-12">
			<h1 class="title-text" style="font-size:50px;"> Real Time Support <small style="color:#fff;font-size:18px;">Powered by Product Support Brazil</small></h3></h1>
		</div>
	</div>
</div>

<div class="container">
	<div class="jumbotron">
		<h1>Welcome!</h1>
		<h3>This is our brand new support page, click in the <b>Log on</b> button, and be prepared to have an amazing support experience! :-)</h3>
		<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
	</div>
</div>