<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="loginCtrl">
    <div class="container">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="Brand" src="images/logo_sap_header.png">
            </a>
        </div>

        <div id="navbar" class="collapse navbar-collapse ">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="javascript:void(null)" ng-click="logIn()"><i class="fa fa-user"> Log on</i></a>
                </li>               
            </ul>
        </div>

    </div>
</nav>
